.calculator {
  
  width: 20em;
  height: 400px; 
  display: flex;
  flex-direction: column;
  margin:auto;
  margin-top:6em;
  box-shadow: 10px 10px 30px 0 rgba(0,0,0,0.5), -20px 10px 50px 0 rgba(0,0,0,0.5);
  transform: translateY(4rem);
}

h1{
  font-family: 'Lexend Deca', sans-serif;
  text-align: center;
  transform: translateY(3rem);
  color: white;
  filter: blur(0.5px);
}


