.screen{

    height: 6rem;
    background: white;
    color: #182C61;
    font-size:20px;
    padding-top: none;
    padding-bottom: 5rem;
    padding-right: 5rem;
    padding-left: 1.5em;
    text-align: right;
    border-radius:6px 6px 0 0;
    font-family: 'Heebo', sans-serif;
}
p{
    padding-right: 5rem;
}
